################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QuanLyThuVien/QLTVGUI/obj/Debug
